.md3-radio-group {
  position: relative;
  display: block;
}

.md3-radio-button {
  --md3-inner-container-opacity: 1;
  --md3-content-opacity: 1;
  --md3-state-layer-background-color: var(--md-sys-color-primary);
  --md3-state-layer-opacity: 0;

  width: auto;
  height: 100%;
  display: inline-block;
  outline: 0;
}

.md3-radio-button:not(:last-of-type) {
  margin-right: 16px;
}

.md3-radio-button-label {
  width: 100%;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  color: inherit;
}

.md3-radio-button.md3-radio-button--checked .md3-radio-button-label {
  color: var(--md-sys-color-primary);
}

.md3-radio-button-inner-container {
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  flex-shrink: 0;
  opacity: var(--md3-inner-container-opacity);
}

.md3-radio-button-outer-circle {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border-radius: 50%;
  border-color: currentColor;
  border-width: 2px;
  border-style: solid;
  transition: border-color ease 280ms;
}

.md3-radio-button.md3-radio-button--checked .md3-radio-button-outer-circle {
  border-color: var(--md-sys-color-primary);
}

.md3-radio-button-inner-circle {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  opacity: 0;
  border-radius: 50%;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-color: var(--md-sys-color-primary);
  transition: transform ease 0.3s, background-color ease 0.3s, opacity linear 1ms 0.3s;
  transform: scale(0.001);
}

.md3-radio-button.md3-radio-button--checked .md3-radio-button-inner-circle {
  transform: scale(0.5);
  opacity: 1;
  transition: transform ease 0.3s, background-color ease 0.3s;
}

.md3-radio-button-state-layer {
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  z-index: -1;
  pointer-events: none;
  border-radius: 50%;
  background-color: var(--md3-state-layer-background-color);
  opacity: var(--md3-state-layer-opacity);
}

.md3-radio-button-input {
  height: 1px;
  width: 1px;
  margin: -1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  outline: 0;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.md3-radio-button-content {
  max-width: 100%;
  display: inline-block;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  order: 0;
  line-height: inherit;
  opacity: var(--md3-content-opacity);
}

.md3-radio-button-content.md3-radio-button-content--end:not(:empty) {
  margin-left: 8px;
}

.md3-radio-button-content.md3-radio-button-content--start:not(:empty) {
  margin-right: 8px;
}

.md3-radio-button:not([disabled="true"]):hover {
  --md3-state-layer-opacity: var(--md-sys-state-hover-state-layer-opacity);
}

.md3-radio-button:not([disabled="true"]):active {
  --md3-state-layer-opacity: var(--md-sys-state-pressed-state-layer-opacity);
}

.md3-radio-button:not([disabled="true"]):focus {
  --md3-state-layer-opacity: var(--md-sys-state-focus-state-layer-opacity);
}

.md3-radio-button[disabled="true"] {
  --md3-inner-container-opacity: var(--md-sys-state-disabled-state-container-opacity) !important;
  --md3-content-opacity: var(--md-sys-state-disabled-state-content-opacity) !important;
  --md3-state-layer-opacity: 0 !important;
}

.md3-radio-button[disabled="true"] .md3-radio-button-label {
  cursor: default !important;
}