:host {
  --md3-icon-button-size: 48px;
  --md3-icon-button-inset-safe-area: 12px;
  --md3-container-background-color: inherit;
  --md3-content-color: inherit;
  --md3-content-opacity: 1;
  --md3-state-layer-background-color: currentColor;
  --md3-state-layer-opacity: 0;

  width: var(--md3-icon-button-size);
  height: var(--md3-icon-button-size);
  padding: var(--md3-icon-button-inset-safe-area);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  contain: strict;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: inherit;
  color: var(--md3-content-color);
}

:host([size="extra-small"]) {
  --md3-icon-button-size: 24px;
  --md3-icon-button-inset-safe-area: 3px;
}

:host([size="small"]) {
  --md3-icon-button-size: 36px;
  --md3-icon-button-inset-safe-area: 9px;
}

:host,
:host([size="medium"]) {
  --md3-icon-button-size: 48px;
  --md3-icon-button-inset-safe-area: 12px;
}

:host([size="extra-small"]) .md3-icon-button-icon,
:host([size="small"]) .md3-icon-button-icon {
  font-size: 18px;
}

.md3-icon-button-state-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  display: block;
  opacity: var(--md3-state-layer-opacity);
  background-color: var(--md3-state-layer-background-color);
}

.md3-icon-button-content {
  position: relative;
  z-index: 1;
  opacity: var(--md3-content-opacity);
}

:host(:not([disabled]):not([disabled="true"]):hover) {
  --md3-state-layer-opacity: var(--md-sys-state-hover-state-layer-opacity);
}

:host(:not([disabled]):not([disabled="true"]):active) {
  --md3-state-layer-opacity: var(--md-sys-state-pressed-state-layer-opacity);
}

:host(:not([disabled]):not([disabled="true"]):focus) {
  --md3-state-layer-opacity: var(--md-sys-state-focus-state-layer-opacity);
}

/*** disabled, disabled="true ***/
:host([disabled]),
:host([disabled="true"]) {
  --md3-container-background-color: initial !important;
  --md3-content-color: var(--md-sys-color-on-surface) !important;
  --md3-content-opacity: var(--md-sys-state-disabled-state-content-opacity) !important;
  --md3-state-layer-background-color: initial !important;
  --md3-state-layer-opacity: var(--md-sys-state-disabled-state-container-opacity) !important;
  cursor: default;
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}