<label
  class="md3-checkbox-label"
  [attr.for]="id ? id : null">

  <ng-template
    #md3CheckboxContent>
    
    <ng-content></ng-content>
  
  </ng-template>

  <span
    class="md3-checkbox-content md3-checkbox-content--start"
    *ngIf="direction === 'start'">
  
    <ng-container
      *ngTemplateOutlet="md3CheckboxContent"></ng-container>
  
  </span>
  
  <span
    class="md3-checkbox-inner-container">
      
    <div
      class="md3-checkbox-state-layer md3-static-ripple-indicator"></div>
    
    <input
      class="md3-checkbox-input"
      type="checkbox"
      [attr.id]="id ? id : null"
      [attr.name]="name ? name : null"
      [attr.value]="value"
      [checked]="checked"
      [(ngModel)]="ngModelValue">
  
    <span
      class="md3-checkbox-frame"></span>
  
    <span
      class="md3-checkbox-background">
      
      <svg
        class="md3-checkbox-checkmark"
        focusable="false"
        version="1.1"
        viewBox="0 0 24 24"
        xml:space="preserve">
        
        <path
          class="md3-checkbox-checkmark-path"
          d="M4.1,12.7 9,17.6 20.3,6.3"
          fill="none"></path>
      
      </svg>
      
      <span
        class="md3-checkbox-mixedmark"></span>
    
    </span>

  </span>

  <span
    class="md3-checkbox-content md3-checkbox-content--end"
    *ngIf="direction == null || direction === 'end'">
  
    <ng-container
      *ngTemplateOutlet="md3CheckboxContent"></ng-container>
  
  </span>

</label>