<div
  class="md3-text-field-flex">

  <div
    class="md3-text-field-infix">
    
    <input
      class="md3-text-field-input"
      [attr.disabled]="disabled ? disabled : null"
      [attr.id]="id ? id : null"
      [attr.placeholder]="placeholder ? placeholder : null"
      [attr.value]="value ? value : null"
      [(ngModel)]="ngModelValue"
      (focus)="focus()"
      (focusout)="focusOut()"
      (input)="_input()"
      *ngIf="type === 'input'"
      #input>

    <textarea
      class="md3-text-field-input"
      [attr.disabled]="disabled ? disabled : null"
      [attr.id]="id ? id : null"
      [attr.placeholder]="placeholder ? placeholder : null"
      [(ngModel)]="ngModelValue"
      (focus)="focus()"
      (focusout)="focusOut()"
      (input)="_input()"
      *ngIf="type === 'textarea'"
      #input>{{value ? value : ''}}</textarea>
      
    <span
      class="md3-text-field-label-container"
      *ngIf="label">
      
      <label
        class="md3-text-field-label"
        [attr.for]="id ? id : null"
        [ngClass]="{'md3-text-field-empty': value === ''}">{{label}}</label>
    
    </span>
    
  </div>

  <div
    class="md3-text-field-suffix"
    *ngIf="clearable && value && value.length > 0">
  
    <md3-icon-button
      size="small"
      [disabled]="disabled ? disabled : false"
      (click)="clear()">

      <span
        class="material-icons-outlined md3-icon-button-icon">close</span>
      
    </md3-icon-button>
  
  </div>

</div>

<div
  class="md3-text-field-underline">

  <span
    class="md3-text-field-ripple"></span>

</div>